/* ==========================================================================
   HEADER
   ========================================================================== */
.header {
  min-width: 320px;
  min-height: 62px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  color: white;
  background: $color-navy;
  @include media-breakpoint-down(xl) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
  }
  @include media-breakpoint-up(xl) {
    min-height: 114px;
  }

  .container {
    height: 100%;
    position: relative;
    @include media-breakpoint-down(xl) {
      max-width: none;
    }
  }

  .hidden {
    display: none;
  }

  &__brand {
    width: 176px;
    padding: 10px 0;
    margin: 0;
    display: block;
    position: relative;
    outline: none;
    @include media-breakpoint-up(xl) {
      width: 293px;
      top: 17px;
      left: 70px;
    }

    img {
      width: 176px;
      height: 22px;
      display: block;
      @include user-select;
      @include media-breakpoint-up(xl) {
        width: 293px;
        height: 36px;
      }
    }

    &.small {
      @include media-breakpoint-up(xl) {
        top: 20px;
        img {
          width: 265px;
          height: auto;
        }
      }
    }
  }

  &__nav {
    margin-top: 10px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: $color-navy;
    @include media-breakpoint-up(xl) {
      margin-top: 0;
      display: block;
      top: 20px;
      right: 78px;
      left: auto;
      background: none;
    }

    &.visible {
      @include media-breakpoint-down(xl) {
        display: block;
      }
    }

    ul {
      padding: 20px 0 30px;
      margin: 0;
      list-style: none;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      @include media-breakpoint-up(xl) {
        padding: 0;
        display: flex;
        align-items: center;
        font-size: 19px;
        font-weight: normal;
        text-align: left;
      }

      li {
        padding: 5px 0;
        @include media-breakpoint-up(xl) {
          padding: 0 10px;
        }
      }

      a {
        padding: 10px;
        color: white;
        display: inline-block;
        position: relative;
        text-decoration: none;
        white-space: nowrap;
        @include media-breakpoint-up(xl) {
          padding: 5px 10px;
          display: block;
          top: -3px;
        }

        &.button {
          padding: 12px 24px;
          border-radius: 8px;
          margin: 15px 0 0 0;
          display: inline-block;
          font-size: 18px;
          line-height: 28px;
          font-weight: bold;
          color: white;
          text-decoration: none;
          text-align: center;
          background: #008535;
          @include media-breakpoint-up(xl) {
            padding: 13px 37px 12px;
            margin: 0 0 0 16px;
            display: block;
            top: 0;
            font-size: 20px;
            line-height: 30px;
          }
        }
      }
    }
  }

  &__toggle {
    width: 32px;
    height: 32px;
    margin: auto 0;
    display: block;
    position: absolute;
    top: 1px;
    right: 7px;
    bottom: 0;
    @include media-breakpoint-up(lg) {
      display: none;
    }

    &::before {
      @include pseudo;
      width: 16px;
      height: 11px;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxMSIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTAgMHYxLjFoMTZWMEgwWm0wIDQuOTV2MS4xaDE2di0xLjFIMFpNMCA5LjlWMTFoMTZWOS45SDBaIi8+PC9zdmc+') no-repeat center center;
    }
  }

  &--centered {
    text-align: center;
    .header__brand {
      margin-right: auto;
      margin-left: auto;
      left: auto;
    }
  }

  &--upsell {
    height: auto;
    min-height: auto;
    position: relative;

    .container {
      height: auto;
    }

    .header__brand {
      width: 137px;
      padding: 2px 0;
      margin-right: auto;
      margin-left: auto;
      @include media-breakpoint-up(lg) {
        width: 238px;
        padding: 1px 0;
        top: auto;
        left: 12px;
      }

      img {
        width: 137px;
        height: 18px;
        @include media-breakpoint-up(lg) {
          width: 238px;
          height: 30px;
        }
      }
    }

    .header__steps {
      max-width: 288px;
      margin: 5px auto 0;
      text-align: center;
      cursor: default;
      @include media-breakpoint-up(lg) {
        max-width: 670px;
        margin-top: 10px;
        margin-bottom: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-1 {
        max-width: 163px;
        padding: 4px 0 3px 12px;
        border: 2px solid white;
        border-right: none;
        margin: 0 auto;
        display: block;
        position: relative;
        left: -6px;
        font-size: 14px;
        line-height: 16px;
        font-weight: bold;
        color: black;
        background: #d9d9d9;
        @include media-breakpoint-up(lg) {
          width: 290px;
          max-width: none;
          padding: 15px 0 14px 18px;
          border-width: 3px;
          margin: 0;
          font-size: 23px;
          line-height: 26px;
          left: -19px;
          text-align: left;
        }

        &:after, &:before {
          left: 100%;
          top: 50%;
          border: solid transparent;
          height: 0;
          width: 0;
          content: '';
          display: block;
          position: absolute;
          pointer-events: none;
        }
        &:after {
          border-color: rgba(217, 217, 217, 0);
          border-left-color: #d9d9d9;
          border-width: 11px;
          margin-top: -11px;
        }
        &:before {
          border-color: rgba(255, 255, 255, 0);
          border-left-color: white;
          border-width: 13.5px;
          margin-top: -13.5px;
        }

        strong {
          font-weight: 800;
          @include media-breakpoint-up(lg) {
            font-size: 24px;
          }
        }
      }

      &-2 {
        max-width: 261px;
        padding: 3px 4px 2px 30px;
        border: 3px solid white;
        border-right: none;
        margin: -3px auto 1px;
        display: block;
        position: relative;
        left: -15px;
        font-size: 22px;
        line-height: 23px;
        font-weight: bold;
        letter-spacing: .02em;
        color: white;
        text-decoration: none;
        background: #eb5c2b;
        @include media-breakpoint-up(lg) {
          width: 340px;
          max-width: none;
          padding: 6px 14px 7px 26px;
          margin: 0;
          font-size: 34px;
          line-height: 35px;
          letter-spacing: 0;
          left: -22px;
        }

        &:after, &:before {
          left: 100%;
          top: 50%;
          border: solid transparent;
          height: 0;
          width: 0;
          content: '';
          display: block;
          position: absolute;
          pointer-events: none;
        }
        &:after {
          border-color: rgba(217, 217, 217, 0);
          border-left-color: #eb5c2b;
          border-width: 25px;
          margin-top: -25px;
          @include media-breakpoint-up(lg) {
            border-width: 41px;
            margin-top: -41px;
          }
        }
        &:before {
          border-color: rgba(255, 255, 255, 0);
          border-left-color: #fff;
          border-width: 28.5px;
          margin-top: -28.5px;
          @include media-breakpoint-up(lg) {
            border-width: 45px;
            margin-top: -45px;
          }
        }

        strong {
          font-weight: 800;
          display: block;
          position: relative;
          top: 1px;
          left: -4px;
          @include media-breakpoint-up(lg) {
            top: 0;
            left: -2px;
            font-size: 37px;
          }
        }
      }
    }
  }

  &--gradient {
    background: linear-gradient(270deg, #003f7d -2.63%, #020057 50.37%, #003f7d 103.37%);
  }
}