/* ==========================================================================
   HEADER
   ========================================================================== */
.header {
  min-height: 62px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  background: $color-navy;
  @include media-breakpoint-down(xl) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
  }
  @include media-breakpoint-up(xl) {
    min-height: 114px;
  }

  .container {
    height: 100%;
    position: relative;
    @include media-breakpoint-down(xl) {
      max-width: none;
    }
  }

  .hidden {
    display: none;
  }

  &__brand {
    width: 176px;
    padding: 10px 0;
    margin: 0;
    display: block;
    position: relative;
    outline: none;
    @include media-breakpoint-up(xl) {
      top: 17px;
      left: 70px;
    }

    img {
      width: 176px;
      height: 22px;
      display: block;
      @include user-select;
      @include media-breakpoint-up(xl) {
        width: 293px;
        height: 36px;
      }
    }
  }

  &--centered {
    text-align: center;
    @include media-breakpoint-up(xl) {
      .header__brand {
        margin-right: auto;
        margin-left: auto;
        left: auto;
      }
    }
  }
}