/* ==========================================================================
   NAVBAR
   ========================================================================== */
.navbar {
  min-height: 62px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: $color-navy !important;
  @include media-breakpoint-down(xl) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
  }
  @include media-breakpoint-up(xl) {
    min-height: 114px;
  }

  .container {
    height: 100%;
    position: relative;
    @include media-breakpoint-down(xl) {
      max-width: none;
    }
  }

  &-brand {
    padding: 10px 0;
    margin: 0;
    display: block;
    position: relative;
    outline: none;
    @include media-breakpoint-up(xl) {
      top: -2px;
      left: 70px;
    }

    img {
      width: 176px;
      height: 22px;
      display: block;
      @include user-select;
      @include media-breakpoint-up(xl) {
        width: 293px;
        height: 36px;
      }
    }
  }

  &-centered {
    .navbar-brand {
      margin: 0 auto;
    }
  }
}