.footer {
  font-size: 14px;
  line-height: 21px;
  color: rgba(black, .6);
  text-align: center;

  p {
    margin-bottom: 10px;
    &:last-child {margin-bottom: 0;}
  }

  &-links {
    margin-top: 20px;
    font-size: 12px;
    a {
      color: #414141;
    }
  }
}