.affiliate {
  margin-top: 50px;
  color: white;

  &-space {
    max-width: 1000px;
    padding: 25px 15px 30px;
    border-radius: 8px;
    margin: 0 auto;
    background: white;
    @include media-breakpoint-up(md) {
      padding: 30px 36px 26px;
    }
  }

  &-form {
    color: black;

    .form-label-first {
      margin-bottom: 17px;
    }

    small {
      margin-bottom: 25px;
      display: block;
      font-size: 14px;
      line-height: 18px;
    }

    .form-more {
      padding: 9px 20px 9px 18px;
      border-radius: 8px;
      margin: 0;
      display: block;
      font-size: 18px;
      line-height: 30px;
      font-weight: bold;
      color: white;
      text-decoration: none;
      text-align: center;
      background: #008535;
      @include media-breakpoint-up(md) {
        margin-top: -9px;
        float: right;
      }
    }

    &__more {
      padding-top: 37px;
      .col:last-of-type .form-group {margin-bottom: 0;}
    }
  }

  &-results {
    max-width: 1000px;
    padding: 25px 15px 30px;
    border: 1px solid white;
    margin: 33px auto 0;
    color: white;
    font-size: 17px;
    line-height: 22px;
    @include media-breakpoint-up(md) {
      padding: 20px 35px 30px;
    }

    &__title {
      margin: 0 0 3px;
      font-size: 22px;
      line-height: 40px;
      font-weight: 600;
    }

    &__content {
      margin-bottom: 14px;
      p:last-of-type {margin-bottom: 0;}
    }

    .form-control {
      @include media-breakpoint-up(md) {
        width: calc(100% + 15px);
        margin-right: -15px;
      }
    }

    &__copy {
      padding: 9px 20px 9px 18px;
      border-radius: 8px;
      margin: 15px 0 0;
      display: block;
      font-size: 18px;
      line-height: 30px;
      font-weight: bold;
      color: white;
      white-space: nowrap;
      text-decoration: none;
      text-align: center;
      background: #008535;
      @include media-breakpoint-up(md) {
        margin: 0;
      }
    }
  }

  &__note {
    margin: 46px 0 0;
    color: white;
    font-size: 18px;
    text-align: center;
  }

  .hidden {
    display: none;
  }
}