.emails {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  z-index: 1;
  @include media-breakpoint-up(xl) {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  &::after {
    @include pseudo;
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    left: -15px;
    z-index: -1;
    background-color: #fff1e3;
    @include media-breakpoint-up(xss) {
      width: 100vw;
      right: 0;
      left: 50%;
      transform: translateX(-50%) scale(1.001);
    }
    @include media-breakpoint-up(md) {
      transform: translateX(-50%);
    }
  }

  &__content {
    max-width: 940px;
    margin: 0 auto 60px;
    font-size: 17px;
    line-height: 26px;
    text-align: center;

    h2 {
      margin-bottom: 20px !important;
      font-size: 24px;
      line-height: 32px;
      font-weight: 800;
      @include media-breakpoint-up(md) {
        margin-bottom: 33px !important;
        font-size: 36px;
        line-height: 40px;
      }
    }

    p {
      margin-bottom: 22px;
      &:last-of-type {margin-bottom: 0;}
    }
  }

  .email {
    max-width: 1000px;
    margin: 0 auto 50px;
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(xl) {
      margin-bottom: 90px;
    }

    &__header {
      margin-bottom: 30px;
      @include media-breakpoint-up(xl) {
        margin-bottom: 51px;
      }

      h2 {
        margin-bottom: 20px;
        text-align: center;
        @include media-breakpoint-up(xl) {
          margin-bottom: 33px;
        }
      }

      p:last-child {margin-bottom: 0;}
    }

    &__box {
      padding: 15px;
      border-radius: 9px;
      font-size: 17px;
      line-height: 27px;
      color: white;
      background: #2c5985;
      @include media-breakpoint-up(xl) {
        padding: 23px 29px 27px;
      }
    }

    &__content {
      height: 768px;
      padding: 20px 15px;
      border: 1px solid rgba(black, .3);
      border-radius: 9px;
      font-size: 14px;
      line-height: 16px;
      overflow: hidden;
      overflow-y: auto;
      background: white;
      -webkit-overflow-scrolling: touch;
      @include media-breakpoint-up(xl) {
        padding: 38px 28px;
        font-size: 17px;
        line-height: 18px;
      }

      h3 {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
        @include media-breakpoint-up(xl) {
          font-size: 26px;
          line-height: 40px;
        }

        a {
          color: #008535;
          text-decoration: none;
        }
      }

      figure {
        margin-left: 0;
      }

      .big {
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
        @include media-breakpoint-up(xl) {
          font-size: 24px;
          line-height: 32px;
        }
      }

      p {
        margin-bottom: 18px;
        p:last-child {margin-bottom: 0;}
      }

      .list {
        padding: 0;
        margin: 0 0 31px;
        list-style: none;
        @include media-breakpoint-up(xl) {
          font-size: 19px;
          line-height: 40px;
        }

        li + li {
          margin-top: 13px;
        }

        img {
          margin-right: 11px;
          vertical-align: middle;
        }
      }

      small {
        margin-left: 4px;
        font-size: 17px;
        line-height: 18px;
        display: block;
      }

      strong > a {
        color: #008535;
        text-decoration: none;
      }

      scrollbar-color: #f6f6f6 white;
      &::-webkit-scrollbar {width: 14px;height: 14px;}
      &::-webkit-scrollbar-thumb {border-radius: 10px;background: #f6f6f6;}
      &::-webkit-scrollbar-thumb:hover {background: #f6f6f6;}
      &::-webkit-scrollbar-track {border-radius: 10px;margin: 0;position: relative;background: white;}
      @include media-breakpoint-up(xl) {
        &::-webkit-scrollbar {width: 20px;height: 20px;}
      }
    }
  }

  .row:last-of-type .email {margin-bottom: 0;}
}