.free-shipping {
  padding-top: 24px;
  padding-bottom: 45px;
  position: relative;
  z-index: 1;
  color: white;
  @include media-breakpoint-up(lg) {
    padding-top: 52px;
    padding-bottom: 42px;
  }

  > .row {
    justify-content: center;
  }

  &::after {
    @include pseudo;
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    left: -15px;
    z-index: -1;
    background: #00a67e;
    @include media-breakpoint-up(xss) {
      width: 100vw;
      right: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__heading {
    margin-bottom: 32px;
    @include media-breakpoint-up(md) {
      margin-bottom: 12px;
    }
    span {white-space: nowrap;}
  }

  &__content {
    position: relative;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    @include media-breakpoint-up(lg) {
      padding-left: 133px;
      text-align: left;
    }

    &::before {
      @include pseudo;
      width: 80px;
      height: 80px;
      margin: 0 auto 27px;
      background: no-repeat center center;
      background-size: contain;
      @include media-breakpoint-up(lg) {
        margin: 0;
        position: absolute;
        top: -8px;
        left: 8px;
      }
    }

    p {margin-bottom: 0;}
    strong {font-weight: 800;}
  }
}