.gallery {
  padding-bottom: 40px;
  position: relative;
  z-index: 1;
  @include media-breakpoint-up(xl) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__content {
    max-width: 1000px;
    margin: 40px auto;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    @include media-breakpoint-up(xl) {
      margin-top: 68px;
      margin-bottom: 51px;
    }

    h2 {
      margin-bottom: 20px !important;
      font-size: 24px;
      line-height: 32px;
      font-weight: 800;
      @include media-breakpoint-up(md) {
        margin-bottom: 24px !important;
        font-size: 36px;
        line-height: 40px;
      }
    }

    p {
      margin-bottom: 22px;
      &:last-of-type {margin-bottom: 0;}
    }
  }

  &__row {
    justify-content: center;
    @include media-breakpoint-up(xl) {
      max-width: 1020px;
      margin-right: auto;
      margin-bottom: 15px;
      margin-left: auto;
      .col {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }

  &__item {
    min-height: 80px;
    padding: 0;
    border: 1px solid rgba(black, .15);
    border-radius: 8px;
    margin: 0 0 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-up(md) {
      min-height: 120px;
    }
    @include media-breakpoint-up(xl) {
      min-height: 160px;
    }

    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
      @include user-select;
    }

    &.bordered {
      padding: 15px;
      img {
        border-radius: 8px;
      }
    }
  }
}