.guarantee {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
  @include media-breakpoint-up(lg) {
    padding-top: 95px;
    padding-bottom: 93px;
  }

  &::after {
    @include pseudo;
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    left: -15px;
    z-index: -1;
    background: #fff1e3;
    @include media-breakpoint-up(xss) {
      width: 100vw;
      right: 0;
      left: 50%;
      transform: translateX(-50%) scale(1.001);
    }
    @include media-breakpoint-up(md) {
      transform: translateX(-50%);
    }
  }

  &__content {
    max-width: 350px;
    padding: 214px 25px 54px;
    margin-right: auto;
    margin-left: auto;
    color: $color-black;
    text-align: center;
    position: relative;
    z-index: 1;
    background-color: white;
    background-repeat: no-repeat, no-repeat;
    background-position: top center, right -2px bottom;
    background-size: 100% auto, auto auto;
    box-shadow: 0 65px 65px rgba(0, 66, 145, .11);
    @include media-breakpoint-up(lg) {
      max-width: 912px;
      min-height: 610px;
      padding: 81px 75px 50px 235px;
      font-size: 18px;
      line-height: 25px;
      background: white url('#{$img}/guarantee-decal-2.svg') no-repeat center left !important;
      background-size: cover;
    }

    p {
      margin-bottom: 18px;
      @include media-breakpoint-up(xl) {
        margin-bottom: 24px;
      }
      &:last-child {margin-bottom: 0;}
    }
  }

  &__badge {
    margin: 0 0 0 -3px;
    position: absolute;
    top: 29px;
    left: 50%;
    transform: translateX(-50%) scale(1.001);
    @include media-breakpoint-up(md) {
      transform: translateX(-50%);
    }
    @include media-breakpoint-up(lg) {
      margin-top: -93px;
      top: 50%;
      left: 40px;
      transform: rotate(-6deg);
    }

    img {
      width: 180px;
      height: auto;
      margin: 0 auto;
      display: block;
      @include user-select;
    }
  }

  &__heading {
    margin-bottom: 19px;
    line-height: 28px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 25px;
      line-height: 50px;
      em {display: block;}
    }
    em {
      font-style: normal;
      color: $color-red;
    }
    span {
      white-space: nowrap;
    }
  }

  &__badges {
    margin: 22px 4px 34px 0;
    @include media-breakpoint-up(lg) {
      margin: -2px 0 8px 0;
    }

    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
      @include user-select;

      &.mobile {
        @include media-breakpoint-up(lg) {
          display: none;
          visibility: hidden;
        }
      }
      &.desktop {
        display: none;
        visibility: hidden;
        @include media-breakpoint-up(lg) {
          display: block;
          visibility: visible;
        }
      }
    }
  }

  &__small {
    margin: 0;
    display: block;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.005em;
    @include media-breakpoint-up(xss) {
      margin-right: -25px;
      margin-left: -25px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 425px;
      margin-right: auto;
      margin-left: auto;
      font-size: 14px;
      letter-spacing: 0;
    }
  }
}