.hold {
  .row {
    @include media-breakpoint-up(md) {
      flex-direction: row-reverse;
      align-items: center;
    }
  }


  &__image {
    max-width: 341px;
    padding: 0;
    margin: 0 auto 28px;
    display: block;
    position: relative;
    @include media-breakpoint-up(md) {
      max-width: 400px;
      margin-bottom: 0;
    }
    @include media-breakpoint-up(xl) {
      width: 393px;
      max-width: none;
      top: 14px;
      left: -19px;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      @include user-select;
      position: relative;
      @include media-breakpoint-down(sm) {
        left: -10px;
      }
    }
  }

  &__content {
    font: bold 22px/30px $font-tertiary;
    @include media-breakpoint-up(xl) {
      font-size: 24px;
    }

    p {
      @include media-breakpoint-up(xl) {
        margin-bottom: 13px;
      }
    }

    .blue {
      margin-bottom: 0 !important;
      font-size: 32px;
      line-height: 36px;
      color: #06f;
    }
  }
}