.ingredients {
  padding-top: 27px;
  padding-bottom: 28px;
  @include media-breakpoint-up(md) {
    padding-top: 51px;
    padding-bottom: 24px;
  }

  > .row {
    justify-content: center;
  }

  .col {
    position: relative;
  }

  &__header {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    position: relative;
    @include media-breakpoint-up(xl) {
      margin-bottom: 60px;
    }
    @include media-breakpoint-up(xxl) {
      left: 17px;
    }

    p {margin-bottom: 0;}
  }

  &__heading {
    margin-bottom: 14px;
    font-size: 26px;
    line-height: 29px;
    font-weight: 800;
    position: relative;
    @include media-breakpoint-down(xl) {
      br {display: none;}
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 20px;
      font-size: 36px;
      line-height: 40px;
    }
    @include media-breakpoint-up(xxl) {
      left: 10px;
    }

    em {
      font-style: normal;
      color: $color-red;
    }
  }

  &__image {
    margin: 0 0 4px;
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(lg) {
      margin: auto 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    img {
      width: 100%;
      max-width: 315px;
      height: auto;
      margin: 0 auto;
      position: relative;
      z-index: 1;
      display: block;
      @include user-select;
      @include media-breakpoint-up(sm) {
        width: 320px;
        max-width: none;
      }
      @include media-breakpoint-up(lg) {
        width: 274px;
        top: 65px;
        right: 2px;
      }
    }

    &::after {
      @include pseudo;
      height: 126px;
      margin: auto 0;
      position: absolute;
      top: 20px;
      right: -15px;
      bottom: 0;
      left: -15px;
      z-index: 0;
      background: no-repeat 40% center;
      background-size: auto 100%;
      @include media-breakpoint-up(xss) {
        width: 100vw;
        right: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      @include media-breakpoint-up(sm) {
        height: 140px;
      }
      @include media-breakpoint-up(md) {
        height: 240px;
        background-position: center center;
      }
      @include media-breakpoint-up(lg) {
        height: 355px;
        top: -42px;
      }
    }
  }

  &__list {
    margin: 0 -5px;
    font-size: 15px;
    line-height: 20px;
    position: relative;
    z-index: 5;
    @include media-breakpoint-up(md) {
      margin-right: -10px;
      margin-left: -10px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 1000px;
      margin-right: auto;
      margin-left: auto;
    }

    &-entry {
      width: 50%;
      padding: 0 5px 25px;
      position: relative;
      float: left;
      @include media-breakpoint-up(md) {
        padding: 0 10px 35px;
      }
      @include media-breakpoint-up(lg) {
        padding-right: 100px;
        padding-left: 100px;
      }
      @include media-breakpoint-up(xl) {
        padding-right: 115px;
        padding-left: 115px;
      }

      &:nth-child(2) {
        figure {
          @include media-breakpoint-up(lg) {
            transform: scaleX(-1);
          }
        }
      }
      &:nth-child(2n) {
        @include media-breakpoint-up(lg) {
          text-align: right;
          figure {
            right: 0;
            left: auto;
          }
        }
      }
      &:nth-child(2n-1) {
        clear: left;

        figure {
          left: 5px;
          @include media-breakpoint-up(xss) {
            left: 10px;
          }
          @include media-breakpoint-up(lg) {
            left: 0;
          }
        }
      }
    }

    &::after {@include clearfix;}

    figure {
      margin: 0 0 13px;
      position: relative;
      @include media-breakpoint-up(lg) {
        position: absolute;
        top: 0;
      }

      img {
        width: auto;
        height: 115px;
        display: block;
        @include user-select;
        @include media-breakpoint-up(xss) {
          height: 129px;
        }
        @include media-breakpoint-up(lg) {
          height: 81px;
        }
      }
    }

    h3 {
      margin-bottom: 3px;
      font-size: 20px;
      line-height: 25px;
      font-weight: 800;
      color: $color-black;
      @include media-breakpoint-up(xl) {
        margin-bottom: 1px;
        font-size: 25px;
        line-height: 32px;
      }
    }

    em {
      margin-bottom: 7px;
      display: block;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      color: $color-green;
      @include media-breakpoint-up(xl) {
        margin-bottom: 13px;
      }
    }

    p {
      margin-bottom: 0;
    }

    sup {
      font-size: 8px;
      position: relative;
      top: -6px;
      left: 2px;
    }
  }
}