.pricing {
  position: relative;
  z-index: 1;

  &__header {
    padding: 20px 0;
    margin-bottom: 43px;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    cursor: default;
    @include media-breakpoint-up(md) {
      padding-top: 30px;
      padding-bottom: 30px;
      margin-bottom: 60px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 43px;
      padding-bottom: 47px;
      margin-bottom: 81px;
    }

    h2 {
      margin-bottom: 0;
      @include media-breakpoint-down(md) {
        br {display: none;}
      }
    }

    .countdown {
      margin: 10px 0 -5px;
      display: block;
      font-style: normal;
      font-size: 26px;
      line-height: 32px;
      font-weight: 800;
      text-align: center;
      color: $color-orange;
      @include user-select;
      @include media-breakpoint-up(xl) {
        margin: 17px 0 -22px;
        font-size: 39px;
        line-height: 40px;
      }
    }

    &::before {
      @include pseudo;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 26px 35px 0 35px;
      border-color: $color-navy transparent transparent transparent;
      margin: 0 auto;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      @include media-breakpoint-up(xl) {
        border-width: 30px 50px 0 50px;
      }
    }
    &::after {
      @include pseudo;
      position: absolute;
      top: 0;
      right: -15px;
      bottom: 0;
      left: -15px;
      z-index: -1;
      background: $color-navy;
      @include media-breakpoint-up(xss) {
        width: 100vw;
        right: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &::after {
    @include pseudo;
    display: none;
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    left: -15px;
    z-index: -1;
    background: #f1f1f1;
    @include media-breakpoint-up(xss) {
      width: 100vw;
      right: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--grey {
    &::after {display: block;}
    .pricing__header {
      &::before {border-color: #179f76 transparent transparent transparent;}
      &::after {background: #179f76;}
    }
  }

  &__entries {
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 17px;
    }
  }

  &__entry {
    max-width: 345px;
    padding: 20px 0 15px;
    border: 3px solid #e7e7e7;
    border-radius: 6px;
    margin: 0 auto 15px;
    display: flex;
    position: relative;
    z-index: 1;
    color: #232427;
    text-decoration: none;
    background: white;
    transition: transform .3s ease;
    @include user-select;
    @include media-breakpoint-up(md) {
      width: 33.3%;
      max-width: 322px;
      margin: 0;
      display: block;
      &:nth-child(1) {order: 2;}
      &:nth-child(2) {order: 3;}
      &:nth-child(3) {order: 1;}
    }
    @include media-breakpoint-up(lg) {
      padding-bottom: 7px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 24px;
    }

    @media (hover: hover) {
      &:not(.pricing__entry--disabled) {
        &:hover, &:focus {
          transform: scale(1.03);
        }
      }
    }

    &-6 {
      border-color: #183e79;
      color: #224079;
      background: #fffbc5;
      box-shadow: 0 35px 35px rgba(0, 63, 125, .1);


      .pricing {
        &__heading {
          @include media-breakpoint-up(xl) {
            font-size: 46px;
          }
        }
        &__subheading {
          @include media-breakpoint-up(xl) {
            font-size: 33px;
          }
        }
        &__image {
          &::after {
            @include pseudo;
            width: 68px;
            height: 74px;
            position: absolute;
            right: 2px;
            bottom: -2px;
            z-index: 2;
            background: no-repeat center center;
            @include media-breakpoint-up(lg) {
              width: 120px;
              height: 120px;
              top: -9px;
              right: 3px;
              bottom: auto;
              background-size: contain;
            }
          }
        }
        &__price {
          @include media-breakpoint-down(md) {
            padding-top: 0;
            margin-bottom: -5px;
          }
          @include media-breakpoint-up(lg) {
            margin-bottom: -1px;
            strong {font-size: 76px;}
          }
          @include media-breakpoint-up(xl) {
            strong {font-size: 82px;}
          }
        }
        &__button {
          margin-top: 8px;
          &-wrap {
            @include media-breakpoint-up(lg) {
              margin-top: 29px;
            }
          }
        }
        &__cards {
          @include media-breakpoint-down(md) {
            margin-top: 16px;
          }
        }
        &__price-stack {
          @include media-breakpoint-down(md) {
            margin-top: 3px;
            margin-bottom: -2px;
          }
          @include media-breakpoint-up(lg) {
            margin-top: 21px;
            margin-bottom: 3px;
          }
        }
      }
    }

    &-3 {
      .pricing {
        &__image {
          &::after {
            @include pseudo;
            width: 70px;
            height: 75px;
            position: absolute;
            right: -4px;
            bottom: 6px;
            z-index: 2;
            background: no-repeat center center;
            @include media-breakpoint-up(lg) {
              width: 92px;
              height: 92px;
              top: 19px;
              right: 20px;
              bottom: auto;
              background-size: contain;
            }
          }
        }
      }
    }

    &--disabled {
      color: #232427;
      .pricing__image img {filter: grayscale(100%);}
      .pricing__button {
        padding: 3px 40px 3px 5px;
        border-color: #c6c6c6;
        color: #a1a1a1;
        font-size: 8px;
        line-height: 9px;
        text-align: center;
        background: linear-gradient(180deg, #fff 20%, #e1dfd9 100%);
        @include media-breakpoint-up(xss) {
          padding-right: 45px;
          padding-left: 10px;
          font-size: 10px;
          line-height: 12px;
        }
        @include media-breakpoint-up(lg) {
          padding: 21px 67px 20px 15px;
          font-size: 18px;
          line-height: 20px;
        }
        &::after {background: linear-gradient(154.92deg, #eaeaea 15.94%, #a8a8a8 83.23%);}
      }
      .pricing__cards img {filter: grayscale(100%);}
    }
  }

  &__head {
    width: 50%;
    text-align: center;
    @include media-breakpoint-up(md) {
      width: 100%;
    }
  }

  &__heading {
    margin-bottom: 0;
    font-size: 22px;
    line-height: 30px;
    font-weight: 900;
    text-transform: uppercase;
    @include media-breakpoint-up(xss) {
      font-size: 25px;
      line-height: 32px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 6px;
      font-size: 42px;
      line-height: 40px;
    }
  }

  &__subheading {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    @include media-breakpoint-up(xss) {
      font-size: 17px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 15px;
      font-size: 29px;
      line-height: 40px;
      font-weight: 800;
    }
  }

  &__image {
    margin: 0;
    display: block;
    position: relative;

    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
      position: relative;
      z-index: 1;
      @include user-select;
      @include media-breakpoint-up(md) {
        @include media-breakpoint-down(lg) {
          width: auto;
          height: 160px;
        }
      }
    }
  }

  &__price {
    padding-top: 10px;
    margin-bottom: -3px;
    font-size: 14px;
    line-height: 48px;
    font-weight: bold;
    @include media-breakpoint-up(xss) {
      font-size: 15px;
    }
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      text-align: center;
    }
    @include media-breakpoint-up(lg) {
      padding: 16px 0 15px 3px;
      font-size: 25px;
      line-height: 40px;
    }

    & + .pricing__button {
      margin-top: 0;
    }

    strong {
      font-size: 40px;
      font-weight: 800;
      @include media-breakpoint-up(xss) {
        font-size: 52px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 68px;
        line-height: 60px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 78px;
      }
    }

    span {
      position: relative;
      top: -1.25em;
      left: 2px;
      @include media-breakpoint-up(xss) {
        top: -1.5em;
        left: 4px;
      }
      @include media-breakpoint-up(lg) {
        top: -0.7em;
        left: 0;
      }
    }
  }

  &__content {
    width: 50%;
    padding-right: 15px;
    padding-left: 6px;
    @include media-breakpoint-up(md) {
      width: 100%;
      padding-right: 10px;
      padding-left: 10px;
    }
    @include media-breakpoint-up(lg) {
      padding-right: 17px;
      padding-left: 18px;
    }
  }

  &__features {
    max-width: 125px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    color: white;
    position: relative;
    @include user-select;
    @include media-breakpoint-up(xss) {
      max-width: none;
      font-size: 14px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 229px;
      font-size: 20px;
      line-height: 26px;
    }

    li {
      padding: 4px 4px 4px 27px;
      border-radius: 3px;
      position: relative;
      background: #183766;
      @include media-breakpoint-up(xss) {
        padding-left: 32px;
      }
      @include media-breakpoint-up(lg) {
        padding-top: 8px;
        padding-bottom: 6px;
        padding-left: 56px;
      }

      & + li {
        margin-top: 5px;
        @include media-breakpoint-up(lg) {
          margin-top: 7px;
        }
      }

      &.red {
        background: #cc0007;
      }

      &::before {
        @include pseudo;
        width: 16px;
        height: 16px;
        margin: auto 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 6px;
        background: no-repeat center center;
        @include media-breakpoint-up(xss) {
          left: 8px;
        }
        @include media-breakpoint-up(lg) {
          width: 22px;
          height: 22px;
          left: 25px;
          background-size: contain;
        }
      }
    }
  }

  &__button {
    max-width: 125px;
    height: 38px;
    padding: 0 12px;
    border: 2px solid #ffbe23;
    border-radius: 6px;
    margin-top: 10px;
    display: block;
    position: relative;
    z-index: 2;
    font: bold 12px/34px $font-secondary;
    color: #0e244d;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(180deg, #fffa00 20%, #ffc000 100%);
    box-shadow: 0 10px 10px rgba(black, .15);
    @include user-select;
    @include media-breakpoint-up(xss) {
      width: 153px;
      max-width: none;
      height: 46px;
      margin-left: -2px;
      font-size: 17px;
      line-height: 40px;
    }
    @include media-breakpoint-up(md) {
      margin-right: auto;
      margin-left: auto;
      display: block;
    }
    @include media-breakpoint-up(lg) {
      width: 100%;
      height: 90px;
      padding: 22px 64px 24px 14px;
      margin-top: 17px;
      margin-left: 0;
      font-size: 30px;
      line-height: 40px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 36px;
    }

    &::after, &::before {
      @include pseudo;
      width: 29px;
      height: 29px;
      border-radius: 50%;
      margin: auto 0;
      position: absolute;
      top: 0;
      right: 6px;
      bottom: 0;
      z-index: 2;
      @include media-breakpoint-up(xss) {
        right: 10px;
      }
      @include media-breakpoint-up(lg) {
        width: 52px;
        height: 52px;
        top: 1px;
      }
    }
    &::after {
      background: linear-gradient(154.92deg, #001015 15.94%, #223cbc 83.23%);
    }
    &::before {
      z-index: 3;
      background: no-repeat center center;
      @include media-breakpoint-up(lg) {
        background-size: 29px 23px;
      }
    }

    &-wrap {
      position: relative;

      &::before {
        @include pseudo;
        width: 26px;
        height: 29px;
        position: absolute;
        right: 2px;
        bottom: -19px;
        z-index: 5;
        background: no-repeat center center;
        background-size: contain;
        @include media-breakpoint-up(lg) {
          width: 43px;
          height: 48px;
          right: 0;
          bottom: -23px;
        }
      }

      &::after {
        @include pseudo;
        border: 3px solid $color-navy;
        border-radius: 50% 50% 50% 50%;
        position: absolute;
        top: -4px;
        right: -8px;
        bottom: -4px;
        left: -8px;
        z-index: -1;
      }
    }
  }

  &__cards {
    margin-top: 7px;
    @include media-breakpoint-up(md) {
      margin-top: 10px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 21px;
    }

    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
      @include user-select;
      @include media-breakpoint-up(xss) {
        max-width: 140px;
      }
      @include media-breakpoint-up(xl) {
        max-width: 272px;
      }
    }
  }

  &__price-stack {
    margin-top: 7px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    color: $color-black;
    @include media-breakpoint-up(xss) {
      margin-top: 14px;
      font-size: 15px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 25px;
      font-size: 25px;
      line-height: 40px;
    }

    em {
      position: relative;
      display: inline-block;
      font-style: normal;

      &::before {
        @include pseudo;
        height: 1.5px;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $color-red;
      }
    }

    strong {
      margin-left: 4px;
      margin-right: 2px;
      display: inline-block;
      font-size: 19px;
      font-weight: 800;
      @include media-breakpoint-up(xss) {
        font-size: 21px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 31px;
      }
    }
  }

  &__rating {
    padding: 7px 3px 35px 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: $color-black;
    text-align: center;
    @include media-breakpoint-up(lg) {
      padding-top: 52px;
    }

    &-title {
      margin-bottom: 0;
      font-size: 20px;
      line-height: 30px;
      font-weight: 800;
      @include media-breakpoint-up(lg) {
        padding-left: 5px;
        font-size: 30px;
        line-height: 40px;
      }
    }

    &-stars {
      margin-bottom: 12px;
      font-size: 18px;
      line-height: 34px;
      font-weight: bold;
      position: relative;
      @include media-breakpoint-up(lg) {
        margin-bottom: 2px;
        left: -7px;
      }

      span {
        padding-left: 162px;
        display: inline-block;
        background: no-repeat -2px center;
        background-size: 150px 30px;
        @include media-breakpoint-up(lg) {
          padding-left: 226px;
          background: no-repeat -2px 2px;
          background-size: auto 43px;
        }
      }

      em {
        padding-left: 35px;
        display: inline-block;
        font-style: normal;
        background: no-repeat left center;
        @include media-breakpoint-up(lg) {
          padding-left: 50px;
          padding-bottom: 17px;
          background-size: 38px 38px;
        }
      }
    }

    p {margin-bottom: 0;}
  }
}