.references {
  padding-top: 39px;
  padding-bottom: 33px;
  position: relative;
  z-index: 1;
  @include media-breakpoint-up(lg) {
    padding-top: 98px;
    padding-bottom: 83px;
  }

  &__heading {
    margin-bottom: 12px;
    text-align: center;
    @include media-breakpoint-up(xl) {
      margin-bottom: 27px;
    }
  }

  &__logos {
    padding: 0;
    margin: 0 0 31px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @include media-breakpoint-up(xl) {
      margin-bottom: 58px;
    }

    li {
      margin: 10px;
      @include media-breakpoint-up(xl) {
        margin-right: 25px;
        margin-left: 25px;
      }
    }

    img {
      display: block;
      @include user-select;
    }
  }

  &__links {
    max-width: 440px;
    padding: 0;
    margin: 0 -15px 0 0;
    font-size: 12px;
    line-height: 14px;
    color: #6c6c6c;
    list-style: none;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    cursor: default;
    @include media-breakpoint-up(lg) {
      max-width: none;
      left: 40px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 14px;
      line-height: 18px;
      left: 60px;
    }

    li {
      padding: 4px 0;
      margin-bottom: 1px;
      word-wrap: break-word;
      @include media-breakpoint-up(xl) {
        padding-top: 3px;
        padding-bottom: 3px;
        margin-bottom: 0;
      }
    }

    a {

      display: inline-block;
      color: #6c6c6c;
      text-decoration: none;
      @include media-breakpoint-up(xl) {
        padding-top: 3px;
        padding-bottom: 3px;
      }
      @media (hover: hover) {
        &:hover, &:focus {text-decoration: underline;}
      }
    }
  }
}