.reviews {
  padding-top: 47px;
  position: relative;
  @include media-breakpoint-up(xl) {
    padding-top: 80px;
  }

  > .row {
    justify-content: center;
  }

  &::before {
    @include pseudo;
    width: 112px;
    height: 135px;
    margin-left: -112px;
    display: none;
    position: absolute;
    top: 57.5%;
    left: 50%;
    z-index: 2;
    background: url('#{$img}/stick-2.webp') no-repeat center center;
    background-size: contain;
    transform: translateX(50vw) scaleX(-1);
    @include media-breakpoint-up(xl) {
      display: block;
    }
  }
  &::after {
    @include pseudo;
    width: 240px;
    height: 280px;
    margin-left: -25px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    background: url('#{$img}/stick-1.webp') no-repeat center center;
    background-size: contain;
    transform: translateX(-50vw) scaleX(-1);
    @include media-breakpoint-up(xxl) {
      display: block;
    }
  }

  &__header {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    position: relative;
    @include media-breakpoint-up(xl) {
      margin-bottom: 93px;
    }
    @include media-breakpoint-up(xxl) {
      left: 17px;
    }

    p {margin-bottom: 0;}
  }

  &__heading {
    max-width: 325px;
    margin: 0 auto;
    position: relative;
    @include media-breakpoint-up(xsm) {
      max-width: 360px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 520px;
    }
    @include media-breakpoint-up(xxl) {
      left: -22px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__image {
    &-top, &-bottom {
      margin: 0 -15px;
      overflow: hidden;
      position: relative;
      z-index: 1;
      @include media-breakpoint-up(xxl) {
        overflow: visible;
      }

      img {
        position: relative;
        left: 50%;
        display: block;
        transform: translateX(-50%);
        @include user-select;

        &.mobile {
          @include media-breakpoint-up(lg) {
            display: none;
            visibility: hidden;
          }
        }
        &.desktop {
          display: none;
          visibility: hidden;
          @include media-breakpoint-up(lg) {
            display: block;
            visibility: visible;
          }
        }
      }
    }

    &-top {
      @include media-breakpoint-up(lg) {
        margin-right: -75px;
        margin-left: -75px;
      }
      @include media-breakpoint-up(xxl) {
        margin-right: 0;
        margin-left: 0;
      }

      img {
        width: 434px;
        height: 350px;
        @include media-breakpoint-up(lg) {
          width: 100%;
          max-width: 100%;
          height: auto;
        }
        @include media-breakpoint-up(xxl) {
          width: 1400px;
          max-width: none;
        }
      }
    }


    &-bottom {
      margin-top: 25px;
      @include media-breakpoint-up(lg) {
        margin-top: 40px;
      }

      img {
        width: 415px;
        height: 447px;
        margin-bottom: -40px;
        @include media-breakpoint-up(lg) {
          width: 100%;
          max-width: 640px;
          height: auto;
          margin-bottom: -10px;
        }
        @include media-breakpoint-up(xl) {
          max-width: 800px;
        }
        @include media-breakpoint-up(xxl) {
          width: 1016px;
          max-width: none;
          margin-bottom: -46px;
          margin-left: -3px;
          position: relative;
        }
      }
    }
  }

  &__list {
    margin-top: -53px;
    position: relative;
    z-index: 5;
    @include media-breakpoint-up(lg) {
      margin: -8px -8px 0;
    }

    &::after {
      @include pseudo;
      height: 126px;
      margin: auto 0;
      position: absolute;
      top: 20px;
      right: -15px;
      bottom: 0;
      left: -15px;
      z-index: 0;
      background: no-repeat 40% center;
      background-size: auto 100%;
      @include media-breakpoint-up(xss) {
        width: 100vw;
        right: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      @include media-breakpoint-up(sm) {
        height: 140px;
      }
      @include media-breakpoint-up(md) {
        height: 240px;
        background-position: center center;
      }
      @include media-breakpoint-up(lg) {
        height: 380px;
        top: 37px;
      }
    }
  }

  &__entry {
    padding-bottom: 26px;
    border-bottom: 1px solid rgba(black, .1);
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(lg) {
      &:nth-child(2), &:nth-child(3) {margin-left: -20px;}
    }
    @include media-breakpoint-up(xl) {
      padding-top: 3px;
      padding-left: 99px;
      padding-bottom: 24px;
    }

    & + .reviews__entry {
      margin-top: 29px;
      @include media-breakpoint-up(lg) {
        margin-top: 54px;
      }
    }

    &-avatar {
      margin: 0;
      display: block;
      position: absolute;
      top: 3px;
      left: 0;
      @include media-breakpoint-up(xl) {
        top: 0;
      }

      img {
        width: 45px;
        height: 45px;
        border: 2px solid $color-red;
        border-radius: 6px;
        display: block;
        object-fit: cover;
        @include user-select;
        @include media-breakpoint-up(xl) {
          width: 67px;
          height: 67px;
          border-width: 4px;
        }
      }
    }

    &-heading {
      min-height: 52px;
      padding-left: 56px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      font-size: 24px;
      line-height: 23px;
      font-weight: 800;
      color: #24b400;
      @include media-breakpoint-up(xl) {
        min-height: 0;
        padding-left: 0;
        margin-bottom: 22px;
      }
    }

    &-rating {
      padding-left: 122px;
      font-size: 15px;
      line-height: 20px;
      font-weight: 600;
      color: #115c2f;
      background: no-repeat -2px center;
      @include media-breakpoint-up(lg) {
        padding-left: 118px;
        background-position: 0 center;
        background-size: 110px 23px;
      }
    }

    blockquote {
      padding-left: 56px;
      margin: 15px 0 0 0;
      font-size: 18px;
      line-height: 23px;
      position: relative;
      @include media-breakpoint-up(lg) {
        padding-top: 8px;
        margin-right: -10px;
        font-size: 22px;
        line-height: normal;
      }

      &::before {
        @include pseudo;
        width: 36px;
        height: 30px;
        position: absolute;
        top: 4px;
        left: 0;
        background: no-repeat top left;
        background-size: contain;
        @include media-breakpoint-up(lg) {
          top: 5px;
        }
      }

      p {margin-bottom: 0;}

      cite {
        margin-top: 12px;
        display: block;
        font-style: normal;
        @include media-breakpoint-up(lg) {
          margin-top: 4px;
          font-size: 18px;
        }
      }
    }
  }
}