.science {
  padding-top: 41px;
  padding-bottom: 30px;
  position: relative;
  z-index: 1;
  @include media-breakpoint-up(md) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 58px;
    padding-bottom: 39px;
  }

  > .row {
    align-items: center;
    justify-content: center;
  }

  &::before {
    @include pseudo;
    width: 98px;
    height: 147px;
    position: absolute;
    top: -7px;
    right: -15px;
    z-index: 1;
    background: url('#{$img}/stick-1-mobile.webp') no-repeat center center;
    background-size: contain;
    @include media-breakpoint-up(xss) {
      right: auto;
      left: 50%;
      margin-left: -98px;
      transform: translateX(50vw);
    }
    @include media-breakpoint-up(sm) {
      width: 147px;
      height: 220px;
      margin-left: -147px;
    }
    @include media-breakpoint-up(md) {
      width: 196px;
      height: 294px;
      margin-left: -196px;
      top: -15px;
      background-image: url('#{$img}/stick-1.webp');
    }
    @include media-breakpoint-up(xxl) {
      width: 310px;
      height: 385px;
      margin-left: -310px;
      top: 12px;
    }
  }

  &::after {
    @include pseudo;
    width: 90px;
    height: 106px;
    display: none;
    position: absolute;
    top: 310px;
    left: 50%;
    background: url('#{$img}/stick-2.webp') no-repeat center center;
    background-size: contain;
    transform: translateX(-50vw);
    @include media-breakpoint-up(xl) {
      display: block;
    }
  }

  > .row {
    @include media-breakpoint-up(lg) {
      flex-direction: row-reverse;
    }
  }

  &__image {
    margin: 0 0 25px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 75px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 50px;
    }

    img {
      width: 100%;
      max-width: 375px;
      height: auto;
      margin: 0 auto;
      display: block;
      position: relative;
      @include user-select;
      @include media-breakpoint-down(sm) {
        left: 1px;
      }
      @include media-breakpoint-up(sm) {
        max-width: 400px;
      }
      @include media-breakpoint-up(lg) {
        max-width: 450px;
      }
      @include media-breakpoint-up(xl) {
        max-width: 480px;
        margin-bottom: 0;
        top: 38px;
        left: -7px;
      }

      &.mobile {
        @include media-breakpoint-up(sm) {
          display: none;
          visibility: hidden;
        }
      }
      &.desktop {
        display: none;
        visibility: hidden;
        @include media-breakpoint-up(sm) {
          display: block;
          visibility: visible;
        }
      }
    }
  }

  &__content {
    font-size: 18px;
    line-height: 25px;
    position: relative;
    @include media-breakpoint-up(xl) {
      padding-right: 50px;
      padding-left: 10px;
      font-size: 20px;
      line-height: 27px;
      left: 60px;
    }

    p {
      margin-bottom: 28px;
      @include media-breakpoint-up(xl) {
        margin-bottom: 27px;
      }
      &:last-of-type {margin-bottom: 0;}
    }

    em {
      font-style: normal;
      position: relative;
      @include media-breakpoint-up(xl) {
        white-space: nowrap;
      }

      &::after {
        @include pseudo;
        height: 4px;
        position: absolute;
        right: 0;
        bottom: -2px;
        left: 0;
        background: linear-gradient(to right, #17bd95, rgba(#17bd95, 0));
      }
    }

    sup {
      margin-left: 4px;
      font-size: 16px;
      color: #6c6c6c;
      position: relative;
      top: -5px;
    }
  }

  &__subheading {
    margin-bottom: 13px !important;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    color: $color-red;
    @include media-breakpoint-up(xl) {
      margin-bottom: 12px !important;
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__heading {
    margin-bottom: 24px !important;
    font-size: 26px;
    line-height: 31px;
    font-weight: 800;
    @include media-breakpoint-up(xl) {
      margin-right: -50px;
      font-size: 36px;
      line-height: 41px;
    }

    em::after {
      right: 2px;
      bottom: 3px;
      left: 2px;
      @include media-breakpoint-up(xl) {
        bottom: 5px;
      }
    }

    strong {
      color: $color-red;
      font-weight: inherit;
    }
  }

  &__accent {
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 12px !important;
    position: relative;
    top: -8px;
    background: rgba(#17bd95, .1);
    @include media-breakpoint-up(lg) {
      padding: 22px 15px;
      margin-right: -17px;
      margin-bottom: 19px !important;
      top: auto;
    }
  }

  &__notes {
    margin-top: 14px;
    display: block;
    position: relative;
    font-size: 13px;
    line-height: normal;
    word-wrap: break-word;
    color: #878787;
    @include media-breakpoint-up(xl) {
      margin-top: 21px;
      font-size: 16px;
    }
  }
}