.terms {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  z-index: 1;
  color: white;
  @include media-breakpoint-up(xl) {
    padding-top: 78px;
    padding-bottom: 140px;
  }

  &::after {
    @include pseudo;
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    left: -15px;
    z-index: -1;
    background-color: #032e59;
    @include media-breakpoint-up(xss) {
      width: 100vw;
      right: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__content {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    @include media-breakpoint-up(xl) {
      font-size: 20px;
      line-height: 28px;
    }

    ol {
      padding: 0;
      margin-top: 44px;
      margin-bottom: 44px;
      list-style: none;
      @include media-breakpoint-up(xl) {
        font-size: 20px;
        line-height: 31px;
      }

      li {
        padding: 0 0 0 45px;
        position: relative;

        & + li {
          margin-top: 26px;
        }

        &::before {
          @include pseudo;
          width: 26px;
          height: 26px;
          border: 1px solid rgba(#e8e8e8, .3);
          border-radius: 50%;
          position: absolute;
          top: 2px;
          left: 2px;
          font-size: 10px;
          line-height: 26px;
          text-align: center;
        }

        &:nth-child(1)::before {content: '01';}
        &:nth-child(2)::before {content: '02';}
        &:nth-child(3)::before {content: '03';}
        &:nth-child(4)::before {content: '04';}
        &:nth-child(5)::before {content: '05';}
        &:nth-child(6)::before {content: '06';}
        &:nth-child(7)::before {content: '07';}
        &:nth-child(8)::before {content: '08';}
        &:nth-child(9)::before {content: '09';}
        &:nth-child(10)::before {content: '10';}
        &:nth-child(11)::before {content: '11';}
        &:nth-child(12)::before {content: '12';}
        &:nth-child(13)::before {content: '13';}
        &:nth-child(14)::before {content: '14';}
        &:nth-child(15)::before {content: '15';}
      }
    }

    p:last-of-type {margin-bottom: 0;}
  }

  &__heading {
    margin-bottom: 20px !important;
    font-size: 24px;
    line-height: 32px;
    font-weight: 800;
    text-align: center;
    @include media-breakpoint-up(md) {
      margin-bottom: 33px !important;
      font-size: 36px;
      line-height: 40px;
    }
  }
}