.tracking {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  z-index: 1;
  color: white;
  @include media-breakpoint-up(xl) {
    padding-top: 58px;
    padding-bottom: 58px;
  }

  &::after {
    @include pseudo;
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    left: -15px;
    z-index: -1;
    background-color: #00a67e;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, bottom right;
    @include media-breakpoint-up(xss) {
      width: 100vw;
      right: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__content {
    max-width: 1000px;
    margin: 0 auto;
    line-height: 27px;
    text-align: center;
    p:last-of-type {margin-bottom: 0;}
  }

  &__heading {
    margin-bottom: 20px !important;
    font-size: 24px;
    line-height: 32px;
    font-weight: 800;
    @include media-breakpoint-up(md) {
      margin-bottom: 33px !important;
      font-size: 36px;
      line-height: 40px;
    }
  }
}