.upgrade {
  padding: 24px 14px 10px;
  border: 6px dashed #f91e00;
  margin-bottom: 21px;
  position: relative;
  font-size: 16px;
  line-height: normal;
  background: #ffede7;
  @include media-breakpoint-up(md) {
    padding: 17px 27px;
    margin-top: 36px;
    margin-bottom: 53px;
  }

  &__image {
    max-width: 255px;
    padding: 0;
    margin: 0 auto 6px;
    display: block;
    position: relative;
    @include media-breakpoint-up(md) {
      max-height: 235px;
      margin: 0;
      top: 7px;
      left: -7px;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
      @include user-select;
    }
  }

  &__content {
    font-size: 18px;
    line-height: 28px;
    text-align: center;

    strong {
      font-weight: 800;
    }

    .h2 {
      margin-bottom: 10px;
      &, em {
        color: $color-navy;
        font-weight: 800;
      }
      em {
        bottom: 0;
      }

      @include media-breakpoint-up(md) {
        margin-bottom: 14px;
        font-size: 31px;
      }
    }

    p {margin-bottom: 0;}
  }

  &__subheading {
    margin-bottom: -5px !important;
    @include media-breakpoint-up(md) {
      margin-bottom: 2px !important;
    }
  }

  .btn-orange {
    max-width: 400px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 2px solid $color-navy;
    border-radius: 6px;
    margin: 7px auto 19px;
    display: block;
    font-size: 23px;
    line-height: 38px;
    font-weight: 800;
    background: $color-red;
    @include media-breakpoint-up(md) {
      padding: 10px;
      padding-bottom: 12px;
      margin-top: 12px;
      margin-bottom: 15px;
      font-size: 32px;
      font-weight: 800;
    }
  }

  &__please {
    font-size: 16px;
    line-height: 23px;
    strong {font-weight: 900;}
    @include media-breakpoint-up(md) {
      margin-right: -20px;
      margin-left: -20px;
      font-size: 20px;
      line-height: 29px;
    }

    a {
      color: $color-navy;
    }
  }

  &__cards {
    margin-top: 10px;
    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
      @include user-select;
    }
  }

  &__full {
    padding-top: 18px;
    border-top: 1px solid rgba(black, .1);
    margin-top: 23px;
    line-height: 22px;
    @include media-breakpoint-up(md) {
      margin-top: 20px;
      padding-bottom: 12px;
      font-size: 19px;
      line-height: 24px;
    }

    p:last-of-type {margin-bottom: 0 !important;}
  }
}