.upsell-2 {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
  font: 24px/24px $font-tertiary;
  text-align: center;
  position: relative;
  z-index: 1;
  background: white;
  @include media-breakpoint-up(xl) {
    font-size: 28px;
    line-height: 28px;
  }

  &::after {
    @include pseudo;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: white;
  }

  &__title {
    padding: 17px 15px 20px;
    margin: 0;
    font-size: 35px;
    line-height: 38px;
    font-weight: bold;
    color: #0d5b2c;
    text-align: center;
    @include media-breakpoint-up(xl) {
      padding: 18px 30px 21px;
      font-size: 62px;
      line-height: 66px;
    }

    strong {
      color: $color-red;
    }

    em {
      font-style: italic;
    }

    u {
      text-decoration: underline;
      text-decoration-thickness: .05em;
      text-underline-offset: .125em;
    }
  }

  &__subtitle {
    padding: 23px 15px 22px;
    margin: 0 -15px;
    font-size: 35px;
    line-height: 38px;
    font-weight: bold;
    color: black;
    text-align: center;
    background: #fdf4ea;
    @include media-breakpoint-up(xl) {
      padding-right: 50px;
      padding-bottom: 25px;
      padding-left: 50px;
      font-size: 53px;
      line-height: 52px;
    }

    strong {
      color: #57b548;
    }

    em {
      font-style: normal;
      color: $color-red;
    }

    u {
      text-decoration: underline;
      text-decoration-thickness: .05em;
      text-underline-offset: .125em;
    }
  }

  &__image {
    padding: 18px 2px;
    margin: 0 -15px;
    @include media-breakpoint-up(sm) {
      padding-right: 15px;
      padding-left: 15px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 38px;
      padding-bottom: 15px;
    }

    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
      @include user-select;
    }
  }

  &__introducing {
    padding: 17px 5px 18px;
    margin: 0 -15px 20px;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    background: #fdf4ea;
    @include media-breakpoint-up(sm) {
      padding-right: 15px;
      padding-left: 15px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 7px;
      padding-bottom: 7px;
      margin-bottom: 31px;
      font-size: 34px;
      line-height: 52px;
      .m {display: none;}
    }

    strong {
      color: #eb5c2b;
    }

    em {
      color: #ff1616;
      font-style: normal;
      text-decoration: underline;
      text-decoration-thickness: .05em;
      text-underline-offset: .125em;
    }
  }

  &__photo {
    width: 191px;
    padding: 0;
    margin: 0 auto 30px;
    display: block;
    box-shadow: 0 4px 4px rgba(black, .15);
    @include media-breakpoint-up(md) {
      width: 323px;
      margin-bottom: 34px;
    }


    img {
      width: 100%;
      height: auto;
      border: 2px solid #ff8a00;
      display: block;
      @include user-select;
    }
  }

  &__content {
    max-width: 800px;
    padding-bottom: 25px;
    margin: 0 auto;

    .lead {
      margin: 0 0 14px;
      font-size: 32px;
      line-height: 39px;
      font-weight: bold;
      color: #f66464;
      position: relative;
      top: -4px;
      @include media-breakpoint-up(sm) {
        margin: 20px 0 16px;
        top: 0;
        line-height: 38px;
      }
    }

    p:last-of-type {margin-bottom: 0;}
  }

  &__green {
    padding: 26px 20px 22px;
    margin: 0 -15px;
    font-size: 26px;
    line-height: 31px;
    font-weight: bold;
    color: black;
    background: #00a67e;
    @include media-breakpoint-up(sm) {
      padding-right: 15px;
      padding-left: 15px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 34px;
      line-height: 52px;
    }

    strong {
      margin-top: 12px;
      display: block;
      font: 800 30px $font-primary;
      color: white;
      @include media-breakpoint-up(xl) {
        margin-top: 2px;
        font-size: 34px;
      }
    }
  }

  &__greeny {
    padding: 13px 10px 15px;
    margin: 0 -15px;
    font: 800 23px/31px $font-primary;
    text-transform: uppercase;
    color: white;
    background: #00a67e;
    @include media-breakpoint-up(xl) {
      padding: 37px 15px;
      font-size: 30px;
      line-height: 37px;
    }

    strong {
      font-weight: 900;
      color: #00ffd1;
    }

    u {
      text-decoration: underline;
      text-decoration-thickness: .05em;
      text-underline-offset: .125em;
    }
  }

  &__footer {
    max-width: 800px;
    padding: 20px 0 0;
    margin: 0 auto;
    font-size: 22px;
    line-height: 28px;
    @include media-breakpoint-up(xl) {
      padding-top: 30px;
      font-size: 28px;
    }

    .red {
      color: #f66464;
    }

    em {
      font-style: italic;
      font-weight: normal;
    }

    .lead {
      margin: 20px 0;
      font-size: 22px;
      line-height: 28px;
      font-weight: bold;
      color: #f66464;
      @include media-breakpoint-up(xl) {
        font-size: 33px;
        line-height: 29px;
      }
    }

    p:last-of-type {margin-bottom: 0;}

    & + .upsell-2__image {
      @include media-breakpoint-up(xl) {
        padding-bottom: 4px;
      }
    }
  }
}

.upsell__rate {
  max-width: 315px;
  padding: 0 15px;
  border: 3px solid #009934;
  border-radius: 8px;
  margin: 28px auto;
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  background: white;
  @include media-breakpoint-up(md) {
    max-width: 500px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 773px;
    margin-top: 51px;
    margin-bottom: 50px;
  }

  .col {
    padding-top: 26px;
    padding-bottom: 26px;
    position: relative;
    @include media-breakpoint-up(md) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 50px;
      padding-bottom: 40px;
    }

    & + .col {
      &::before {
        @include pseudo;
        max-width: 224px;
        height: 3px;
        margin: auto;
        position: absolute;
        top: -4px;
        right: 0;
        left: 0;
        background: #009934;
        @include media-breakpoint-up(md) {
          width: 3px;
          height: auto;
          max-height: 124px;
          top: 0;
          right: auto;
          bottom: 0;
        }
      }
    }
  }

  .red {
    color: #ff8819;
  }
  .green {
    color: #00a67e;
  }

  u {
    position: relative;
    text-decoration: none;

    &::before {
      @include pseudo;
      height: 3px;
      margin: auto;
      position: absolute;
      top: -1px;
      right: 0;
      bottom: 0;
      left: 0;
      background: #ff8819;
    }
  }

  p {
    margin-bottom: 14px;
    &:first-child {
      margin-bottom: 24px;
      @include media-breakpoint-up(md) {
        margin-bottom: 22px;
      }
    }
    &:last-child {margin-bottom: 0;}
  }

  strong {
    font-size: 29px;
    font-weight: 800;
  }
}

.upsell__accept {
  padding: 27px 17px 10px;
  border: 3px solid black;
  border-radius: 8px;
  margin: 45px auto 18px;
  position: relative;
  color: black;
  text-align: center;
  background: #fdf4ea;
  @include media-breakpoint-up(lg) {
    max-width: 1000px;
    padding-bottom: 30px;
    margin-top: 59px;
    margin-bottom: 43px;
  }

  &-checkbox {
    margin: 0 0 9px;
    display: block;
    position: relative;
    font: bold 33px/41px $font-tertiary;
    text-decoration: underline;
    text-decoration-thickness: .05em;
    text-underline-offset: .075em;
    @include user-select;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNzkiIGhlaWdodD0iMzAiIGZpbGw9Im5vbmUiPjxwYXRoIGZpbGw9IiMwMEE2N0UiIGQ9Ik0xOTEuNTg2IDEzLjU4NmEyIDIgMCAwIDAgMCAyLjgyOGwxMi43MjggMTIuNzI4YTIgMiAwIDEgMCAyLjgyOC0yLjgyOEwxOTUuODI4IDE1bDExLjMxNC0xMS4zMTRhMiAyIDAgMCAwLTIuODI4LTIuODI4bC0xMi43MjggMTIuNzI4Wk0xOTMgMTdoODUuNXYtNEgxOTN2NFpNODYuOTE0IDE2LjQxNGEyIDIgMCAwIDAgMC0yLjgyOEw3NC4xODYuODU4YTIgMiAwIDEgMC0yLjgyOCAyLjgyOEw4Mi42NzIgMTUgNzEuMzU4IDI2LjMxNGEyIDIgMCAxIDAgMi44MjggMi44MjhsMTIuNzI4LTEyLjcyOFpNMCAxN2g4NS41di00SDB2NFoiLz48L3N2Zz4=');
    background-position: center 7px;
    background-repeat: no-repeat;
    @include media-breakpoint-up(xl) {
      margin-bottom: 17px;
      font-size: 40px;
      line-height: 50px;
      text-align: left;
      background: none !important;
    }

    input {
      margin: 0 auto;
      display: block;
      position: absolute;
      top: 5px;
      right: 0;
      left: 0;
      visibility: hidden;

      &:checked ~ span::before {
        background-image: url('#{$img}/checkbox-active.png');
      }
    }

    span {
      padding-top: 65px;
      display: block;
      position: relative;
      @include media-breakpoint-up(xl) {
        padding: 18px 0 18px 341px;
      }

      &::before, &::after {
        @include pseudo;
      }

      &::before {
        @include pseudo;
        width: 54px;
        height: 54px;
        margin: 0 auto;
        position: absolute;
        top: -5px;
        right: 0;
        left: 0;
        background: url('#{$img}/checkbox.png') no-repeat center center;
        background-size: contain;
        transform: scale(1);
        animation: pulsing .8s infinite;
        @include media-breakpoint-up(xl) {
          width: 108px;
          height: 108px;
          margin: 0;
          top: -11px;
          left: 69px;
        }
      }
      &::after {
        display: none;
        @include media-breakpoint-up(xl) {
          width: 137px;
          height: 61px;
          display: block;
          position: absolute;
          top: 13px;
          bottom: 0;
          left: 188px;
          background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNzkiIGhlaWdodD0iMzAiIGZpbGw9Im5vbmUiPjxwYXRoIGZpbGw9IiMwMEE2N0UiIGQ9Ik0xOTEuNTg2IDEzLjU4NmEyIDIgMCAwIDAgMCAyLjgyOGwxMi43MjggMTIuNzI4YTIgMiAwIDEgMCAyLjgyOC0yLjgyOEwxOTUuODI4IDE1bDExLjMxNC0xMS4zMTRhMiAyIDAgMCAwLTIuODI4LTIuODI4bC0xMi43MjggMTIuNzI4Wk0xOTMgMTdoODUuNXYtNEgxOTN2NFpNODYuOTE0IDE2LjQxNGEyIDIgMCAwIDAgMC0yLjgyOEw3NC4xODYuODU4YTIgMiAwIDEgMC0yLjgyOCAyLjgyOEw4Mi42NzIgMTUgNzEuMzU4IDI2LjMxNGEyIDIgMCAxIDAgMi44MjggMi44MjhsMTIuNzI4LTEyLjcyOFpNMCAxN2g4NS41di00SDB2NFoiLz48L3N2Zz4=');
          background-position: center right -44px;
          background-repeat: no-repeat;
          background-size: auto 100%;
        }
      }
    }
  }

  .btn-orange {
    max-width: 380px;
    padding: 10px 8px 8px;
    border-width: 2px;
    border-radius: 8px;
    margin: 0 auto;
    font: 14px/14px $font-primary;
    color: #ffe500;
    background: #eb5c2b;
    @include media-breakpoint-up(lg) {
      max-width: 600px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 860px;
      padding-top: 18px;
      padding-bottom: 22px;
      font-size: 18px;
      line-height: 18px;
    }

    strong {
      margin-bottom: 7px;
      font-size: 23px;
      line-height: 23px;
      font-weight: bold;
      color: white;
      display: block;
      @include media-breakpoint-up(xl) {
        margin-bottom: 2px;
        font-size: 35px;
        line-height: 40px;
      }
    }
  }

  &-alert {
    margin: 30px 0 15px;
    font-size: 16px;
    line-height: normal;
    display: none;

    &.active {
      display: block;
    }

    span {
      padding: 5px 10px;
      border-radius: 3px;
      display: inline-block;
      color: white;
      background: #cb0000;
    }
  }

  &-more {
    margin: 27px auto 0;
    font-family: serif;
    font-size: 12px;
    line-height: 22.5px;
    text-transform: uppercase;
    @include media-breakpoint-up(xl) {
      max-width: 840px;
      font-size: 16px;
    }
  }
}

.upsell__send {
  padding-bottom: 21px;
  font-size: 16px;
  line-height: 28px;
  color: white;
  text-align: center;
  @include media-breakpoint-up(xl) {
    padding-bottom: 44px;
  }

  &-title {
    margin: 0 0 30px;
    font-size: 22px;
    line-height: 25px;
    font-weight: 800;
    @include media-breakpoint-up(xl) {
      font-size: 36px;
      line-height: 39px;
    }

    a {
      text-decoration: underline;
      text-decoration-thickness: .05em;
      text-underline-offset: .075em;
    }

    a {
      color: #ff5454;
    }
  }

  &-cards {
    margin-bottom: 20px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 41px;
    }

    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
      @include user-select;
    }
  }

  &-text {
    max-width: 800px;
    margin: 0 20px;
    @include media-breakpoint-up(md) {
      margin: 0 auto;
    }

    a {
      color: white;
    }
  }
}

.upsell__red {
  padding: 19px 0 9px;
  font-size: 26px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
  @include media-breakpoint-up(xl) {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 40px;
    line-height: 52px;
  }

  &::after {
    @include pseudo;
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    left: -15px;
    z-index: -1;
    background: #cb0000;
    @include media-breakpoint-up(xss) {
      width: 100vw;
      right: 0;
      left: 50%;
      transform: translateX(-50%) scale(1.001);
    }
    @include media-breakpoint-up(md) {
      transform: translateX(-50%);
    }
  }

  h3 {
    margin-bottom: 24px;
    font-size: 26px;
    line-height: 28px;
    font-weight: 800;
    color: #ffc000;
    text-decoration: underline;
    text-decoration-thickness: .05em;
    text-underline-offset: .075em;
    @include media-breakpoint-up(xl) {
      font-size: 40px;
      line-height: 52px;
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: .05em;
    text-underline-offset: .075em;
    &:hover {
      text-decoration: none;
    }
  }
}

@keyframes pulsing {
  0% {
    transform: scale(.95);
    box-shadow: 0 0 0 0 rgba($color-red, .8);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba($color-red, 0);
  }
  100% {
    transform: scale(.95);
    box-shadow: 0 0 0 0 rgba($color-red, 0);
  }
}