.vip {
  max-width: 325px;
  padding: 125px 20px 24px;
  border: 3px solid #c4a759;
  border-radius: 7px;
  margin: 25px auto 50px;
  position: relative;
  text-align: center;
  @include media-breakpoint-up(md) {
    max-width: 500px;
    margin-top: 43px;
    margin-bottom: 48px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 636px;
    padding-top: 92px;
    padding-bottom: 15px;
  }

  &::before {
    @include pseudo;
    width: 217px;
    height: 217px;
    position: absolute;
    top: -25px;
    left: -25px;
    z-index: 0;
    background: url('#{$img}/vip.webp') no-repeat center center;
    background-size: contain;
    @include media-breakpoint-up(lg) {
      top: -20px;
    }
  }

  > * {
    position: relative;
    z-index: 3;
  }

  &__title {
    padding-left: 12px;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    @include media-breakpoint-up(lg) {
      padding-left: 0;
      margin-bottom: 13px;
    }

    strong {color: #eb5c2b;}
  }

  u {
    text-decoration: line-through;
  }

  strong {
    font-weight: bold;
  }

  p:last-of-type {margin-bottom: 0;}
}