.welcome {
  margin-bottom: 60px;
  @include media-breakpoint-up(md) {
    margin-bottom: 60px;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 80px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 1000px;
    margin: 63px auto 93px;
  }

  &__image {
    padding: 0;
    margin: 0 0 32px;
    position: relative;
    @include media-breakpoint-up(lg) {
      margin-top: 32px;
    }
    @include media-breakpoint-up(xl) {
      left: -29px;
    }

    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
      @include user-select;
    }
  }

  &__content {
    @include media-breakpoint-up(xl) {
      margin-left: -26px;
      line-height: 27px;
    }

    p {
      @include media-breakpoint-up(xl) {
        margin-bottom: 24px;
      }
    }

    ol {
      padding: 0;
      margin: 0;
      list-style: none;
      font-size: 17px;
      line-height: 27px;

      li {
        padding: 19px 20px 21px 56px;
        position: relative;
        background: rgba(#17bd95, .1);

        &::before {
          width: 23px;
          height: 23px;
          padding: 5px 0;
          border-radius: 50%;
          display: block;
          content: '';
          position: absolute;
          top: 22px;
          left: 19px;
          font-size: 10px;
          line-height: 13px;
          font-weight: bold;
          text-align: center;
          color: white;
          background: $color-red;
        }

        & + li {margin-top: 24px;}

        &:nth-child(1)::before {content: '01';}
        &:nth-child(2)::before {content: '02';}

        a {
          color: #008535;
          text-decoration: none;
        }
      }
    }
  }

  &__text {
    margin-top: 40px;
    @include media-breakpoint-up(md) {
      margin-top: 60px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 101px;
      line-height: 27px;
    }

    p {
      margin-bottom: 26px;

      &.big {
        margin-bottom: 37px;
      }

      &.wide {
        margin-bottom: 30px;
        line-height: 36px;
        strong {
          font-size: 24px;
        }
      }
    }

    h4, .h4 {
      margin-top: 62px;
    }
  }

  &__sign {
    margin: 53px 0 23px;


    img {
      max-width: 200px;
      height: auto;
      display: block;
      @include user-select;
      @include media-breakpoint-up(md) {
        max-width: 300px;
      }
      @include media-breakpoint-up(xl) {
        max-width: 100%;
      }
    }
  }
}